.tst-bdr-red {
    border: 1px red solid;
}

.calendar {
    margin-top: 6rem;
    width: 80%;
    display: flex;
    justify-content: center;
    border: 1px red solid;


    .month-selector {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));   
        text-align: center;
        
        .span-2 {
            grid-column: span 2; 
            border: 1px red solid;
        }   

        .span-3 {
            grid-column: span 3; 
            border: 1px red solid;
        }   
    }
}