@import "../abstract/_mixins.scss";

.Calendar {
    @include flex-jc-ai-dir (flex-start, center, column);
    margin: 4rem 0 10rem 0;
    width: 70%;
    min-height: 60rem;
    border: 1px red solid;

    .month-grid {
        height: 3rem;
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));  
    }
    .month-selector {
        align-content: center;
        margin-top: 1rem;
        width: 60%;
         
        text-align: center;
        border: 1px red solid;

        .span-2 {
            grid-column: span 2; 
        }   

        .span-3 {
            grid-column: span 3; 
            border: 1px red solid;
        }   
    }
    .weekdays {
        

    }
}