// mixins & variables
@import './../../../scss/abstract/mixins';
@import '../../../scss/abstract/variables';

.event-list-wrapper {
  @include flex-jc-ai-dir(center, center, column);
  .event-card-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5em;
    width: 20em;
    height: 17em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1em;

    .event-card {
      @include flex-jc-ai-dir(flex-start, flex-start, column);
      height: 15em;
      padding: 0 2em;
      box-shadow: 0.01em 0.01em 0.65em black;
      background: rgba(0, 0, 0, 0.315);
      text-shadow: $text-shadow-color;
      color: $text-color;

      .info-wrapper {
        h1 {
          font-size: 4.7rem;
          color: black;
          text-shadow: 0.03em 0 0 yellow;
          margin-bottom: 0.3em;
        }

        .line-wrapper {
          @include flex-jc-ai-dir(space-between, center, row);
          width: 14.2em;
          padding-left: 0.24em;
          line-height: 2.5rem;
          font-size: 1.5rem;
        }
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      width: 33em;
      height: 40em;
    }

    @media screen and (min-width: 1366px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      width: 60em;
    }
  }
}

.event-card-wrapper::-webkit-scrollbar {
  display: none;
}
