// mixins
@import './../../../scss/abstract/mixins';

.event-list-wrapper {
  @include flex-jc-ai-dir(center, center, column);
  .event-card-wrapper {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1em;
    width: 65em;
    height: 40em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1em;

    .event-card {
      @include flex-jc-ai-dir(center, center, column);
      border: 1px solid red;
      height: 15em;
    }

    @media screen and (min-width: 992px) {
    }
  }

  .event-list-wrapper::-webkit-scrollbar {
    display: none;
  }
}
