// mixins
@import './../../../scss/abstract/mixins';

.event-list-wrapper {
  @include flex-jc-ai-dir(center, center, column);
  .event-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5em;
    width: 70em;
    height: 40em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1em;

    .event-card {
      @include flex-jc-ai-dir(center, center, column);
      height: 15em;
      box-shadow: 0.01em 0.01em 0.65em black;
      background: url(./../../../assets/images/IMG_01.jpg) no-repeat center
        center/cover;
    }

    @media screen and (min-width: 992px) {
    }
  }

  .event-card-wrapper::-webkit-scrollbar {
    display: none;
  }
}
