@import '../../../scss/abstract/mixins';

.navbar {
  margin-bottom: 80px; // Spacing between the navbar and the other components on the different pages
}
.connect-page {
  width: 55vw;
  height: 65vh;
  //background: rgba(0, 0, 0, 0.315);
  margin: 0;
  text-align: center;
  position: relative;
  form {
    @include flex-jc-ai-dir(column, center, column);
    height: 100%;
  }
  form #user-name, #email-sign,
  #password-sign,
  #dob  {
    padding: 12px 20px;
    color: white;
  }
  #user-name,
  #email-sign,
  #password-sign,
  #dob {
    width: 12rem;
    height: 1.8rem;
    outline: none;
    background: rgba(0, 0, 0, 0.315);
    border: 1.8px gray solid;
  } 
  #user-name::placeholder,
  #email-sign::placeholder,
  #password-sign::placeholder,
  #dob::placeholder {
    font-size: 14px;
    font-family: 'Sarpanch';
    text-shadow: 0 0 0.2em black, 0 0 1em black;
    color: white;
  }
    #dob {
    width: 12rem;
    height: 1.8rem;
  }
}
.file-upload label {
  @include flex-jc-ai-dir(column, center, column);
  font-size: 16px;
  margin-top: 1rem;
}
.file-upload input {
  margin-bottom: 0.5rem;
  font-family: 'Sarpanch';
  width: 12rem;
  height: 1.8rem;
}
input#image-upload::file-selector-button {
  font-family: 'Sarpanch';
  background-color: transparent;
  border: 1px solid black;
  &:hover {
    color: rgba(255, 255, 0, 0.789);
    border: 1px rgba(255, 255, 0, 0.789) solid;
  }
}
.button-sign {
  margin-top: -1rem;
  padding: 0.3em;
  font-family: 'Sarpanch';
  background-color: transparent;
  // box-shadow: 0.01em 0.01em 1em yellow;
  border-radius: 2px;
  border: 1px solid black;
  &:hover {
    color: rgba(255, 255, 0, 0.789);
    border: 1px rgba(255, 255, 0, 0.789) solid;
  }
}