@import '../../../scss/abstract/mixins';
@import '../../../scss/abstract/variables';


// .navbar {
//   margin-bottom: 100px; // Spacing between the navbar and the other components on the different pages
// }

.connect-page {
  width: 45rem;
  height: fit-content;
  text-align: center;

  position: relative;
  .sign-up-form {
    @include flex-jc-ai-dir(column, center, column);
    // height: 100%;
    // border: 2px red dotted;
  }
  .sign-up-form #user-name,
  #email-sign,
  #password-sign,
  #dob {
    margin: 10px 0;
    padding: 12px 10px;
    color: $text-color;
  }
  #user-name,
  #email-sign,
  #password-sign,
  #dob {
    width: 18rem;
    height: 2.5rem;
    outline: none;
    background: $background-transparent;
    border: 1.8px gray solid;
  }
  #user-name::placeholder,
  #email-sign::placeholder,
  #password-sign::placeholder,
  #dob::placeholder {
    font-size: 14px;
    font-family: 'Sarpanch';
    text-shadow: $text-shadow-color;
    color: $text-color;
  }

    #dob {
      width: 18rem;
      height: 2.5rem;

  }
}
.file-upload label {
  @include flex-jc-ai-dir(column, center, column);
  font-size: 16px;
  margin-top: 1.5rem;
  margin-right: 6rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
.file-upload input {
  margin-bottom: 0.5rem;
  font-family: 'Sarpanch';
  width: 18rem;
  height: 2rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
input#image-upload::file-selector-button {
  font-family: 'Sarpanch';
  background-color: transparent;
  border: 1px solid $text-color;
  text-shadow: $text-shadow-color;
  color: $text-color;
  cursor: pointer;
  &:hover {
    color: $yellow-color;
    border: 1px $yellow-color solid;
  }
}
// .button-sign {
//   margin-top: -1rem;
//   padding: 0.3em;
//   font-family: 'Sarpanch';
//   background-color: transparent;
//   border-radius: 2px;
//   border: 1px solid $text-color;
//   text-shadow: $text-shadow-color;
//   color: $text-color;
//   &:hover {
//     color: $yellow-color;
//     border: 1px $yellow-color solid;
//   }
// }
