@import '../../../scss/abstract/_mixins.scss';

.search-bar {
  @include flex-jc-ai-dir(space-around, center, row);
form {
  background: rgba(0, 0, 0, 0.335);

  @include flex-jc-ai-dir(space-around, center, row);

  #search-input {
    width: 16em;
    border: none;
    // background: rgba(0, 0, 0, 0.335);
    background: none;
    font-family: 'Sarpanch';
    font-size: 1.5rem;
    color: white;
    padding: 0.2em 0.2em 0.2em 0.4em;
  }
  #search-input:focus {
    outline: none;
  }
  #search-input::placeholder {
    font-size: 1.5rem;
    text-shadow: 0 0 0.2em black, 0 0 1em black;
    color: white;
  }
  .button-search {
    // width: 3em;
    // height: 2.1em;
    margin: 0 0.5em 0 0;
    border: none;
    background: none;
    color: white;
    // border: 2px blue solid;
    .search-icon {
margin: 0.1em 0 -0.1em 0;
    font-size: 1.5rem;
    cursor: pointer;
    }
  }
}
  
}
