@import '../../../scss/abstract/_mixins.scss';

.search-bar {
  @include flex-jc-ai-dir(space-around, center, row);
  
  #search-input {
    width: 30em;
    height: 2.3em;
    padding-left: 2rem;
    font-family: 'Sarpanch';
  }
  .button-search {
    width: 3em;
    height: 2.1em;
    border: none;
    background-color: white;
  }
}