// mixins & variables
@import '../../../scss/abstract/_mixins.scss';
@import '../../../scss/abstract/variables';

.filter-button {
    background: none;
    border: none;
    font-family: 'Sarpanch';
    font-size: 1.2rem;
    color: $text-color;
    text-shadow: $text-shadow-color;   
}

.filter-button:focus {
    text-shadow: 0 0 0.2rem black, 0 0 0.35rem yellowgreen, 0 0 0.3rem orange,
    0 0 0.6rem yellow;
}
