@import '../../../scss/abstract/mixins';
@import '../../../scss/abstract/variables';

.create-event {
  max-width: 100rem;
  height: 80vh;
}
.myForm {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0;
  text-align: center;
  padding: 0 100px;
}
form #band-name,
#event-name,
#date,
#start-time,
#doors-open,
#pre-sale-price,
#door-price,
#ticket-url,
#genre,
#event-url,
#band-url {
  width: 24rem;
  height: 2.8rem;
  margin: 10px 4px;
  padding: 12px 10px;
  outline: none;
  background: $background-transparent;
  border: 1.8px $border-gray solid;
  color: $text-color;
}
#band-name::placeholder,
#event-name::placeholder,
#door-price::placeholder,
#pre-sale-price::placeholder,
#ticket-url::placeholder,
#description::placeholder,
#event-url::placeholder,
#band-url::placeholder,
input#band-name,
input#event-name,
input#door-price,
input#pre-sale-price,
input#ticket-url,
input#event-url,
input#band-url,
input#date,
input#doors-open,
input#start-time,
textarea#description {
  font-size: 1rem;
  font-family: 'Sarpanch';
  text-shadow: $text-shadow-color;
  color: $text-color;
}
#date,
#doors-open,
#start-time {
  width: 24rem;
  height: 2.8rem;
}
#genre,
#location {
  width: 24rem;
  height: 2.8rem;
  margin: 10px 4px;
  padding: 8px 10px;
  outline: none;
  border: 1.8px $border-gray solid;
  font-size: 1rem;
  font-family: 'Sarpanch';
  text-shadow: $text-shadow-color;
  color: $text-color;
  background: $background-transparent;
}
#band-name:focus,
#event-name:focus,
#pre-sale-price:focus,
#door-price:focus,
#ticket-url:focus,
#event-url:focus,
#band-url:focus,
#genre:focus,
#date:focus,
#location:focus,
#start-time:focus,
#doors-open:focus,
#description:focus {
  color: $yellow-color;
  border: 0.5px $yellow-color solid;
  font-family: 'Sarpanch';
}
form #description {
  width: 24rem;
  height: 8rem;
  margin-top: 10px;
  margin-left: 4px;
  padding-top: 10px;
  padding-left: 12px;
  outline: none;
  background: $background-transparent;
  border: 1.8px $border-gray solid;
  color: $text-color;
}
.label-start,
.label-doors {
  font-size: 1rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
  margin-right: 16.5rem;
  display: block;
}
.upload-file label {
  @include flex-jc-ai-dir(column, center, column);
  font-size: 1rem;
  margin-right: 11.5rem;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
input#upload-image {
  margin-bottom: 0.5rem;
  font-family: 'Sarpanch';
  font-size: 1rem;
  width: 22rem;
  height: 2.8rem;
  margin-right: 2rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
#upload-image::file-selector-button {
  width: 8rem;
  height: 2.5rem;
  font-family: 'Sarpanch';
  background-color: transparent;
  border: 1px $text-color solid;
  text-shadow: $text-shadow-color;
  color: $text-color;
  cursor: pointer;
  &:hover {
    color: $yellow-color;
    border: 1px $yellow-color solid;
  }
}
.button-create-event {
  width: 33rem;
  padding-left: 40rem;
}

@media screen and (max-width: 992px) {
  .container {
    @include flex-jc-ai-dir(column, center, column);
    width:fit-content;
  }
  .create-event {
    height: 100%;
  }
  .myForm {
    @include flex-jc-ai-dir(column, center, column);
    height: auto;
  }
  .button-create-event {
    padding-right: 65rem;
  }
}
// @media screen and (min-width: 768px) {
//   .container {
//     @include flex-jc-ai-dir(column, center, column);
//     width:fit-content;
//   }
//   .create-event {
//     height: 100rem;
//   }
//   .myForm {
//     @include flex-jc-ai-dir(column, center, column);
//     height: auto;
//   }
//   .button-create-event {
//     padding-right: 65rem;
//   }
// }
// @media screen and (min-width: 1024px) {
//   .container {
//     @include flex-jc-ai-dir(column, center, column);
//     width:fit-content;
//   }
//   .create-event {
//     height: 100%;
//   }
//   .myForm {
//     @include flex-jc-ai-dir(column, center, column);
//     height: auto;
//   }
//   .button-create-event {
//     padding-right: 65rem;
//   }
// }