@import '../../../scss/abstract/mixins';
@import '../../../scss/abstract/variables';

.myForm {
  display: grid;
  grid-template-areas:
    'band-name event-name'
    'date location'
    'start-time doors-open'
    'pre-sale-price door-price'
    'ticket-url genre'
    'event-url band-url'
    'description upload-image'
    'button-create';
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 0.5rem 0.5rem;
  padding: 1.5rem;
}
form #band-name,
#event-name,
#date,
#start-time,
#doors-open,
#location,
#pre-sale-price,
#door-price,
#ticket-url,
#genre,
#event-url,
#band-url {
  width: 20rem;
  height: 2.5rem;
  margin: 10px 0;
  padding: 12px 10px;
  outline: none;
  background: $background-transparent;
  border: 1.8px $border-gray solid;
  color: $text-color;
}
form #description {
  width: 20rem;
  height: 5rem;
  margin: 10px 0;
  padding-top: 10px;
  padding-left: 12px;
  outline: none;
  background: $background-transparent;
  border: 1.8px $border-gray solid;
  color: $text-color;
}
#band-name::placeholder,
#event-name::placeholder,
#location::placeholder,
#door-price::placeholder,
#pre-sale-price::placeholder,
#ticket-url::placeholder,
#genre::placeholder,
#description::placeholder,
#event-url::placeholder,
#band-url::placeholder {
  font-size: 14px;
  font-family: 'Sarpanch';
  text-shadow: $text-shadow-color;
  color: $text-color;
}
#date,
#doors-open,
#start-time {
  width: 20rem;
  height: 2.5rem;
}
.upload-file label {
  @include flex-jc-ai-dir(column, center, column);
  font-size: 16px;
  margin-top: 1rem;
  margin-right: 8rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
input#upload-image {
  margin-bottom: 0.5rem;
  font-family: 'Sarpanch';
  width: 20rem;
  height: 2.5rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
#upload-image::file-selector-button {
  font-family: 'Sarpanch';
  background-color: transparent;
  border: 1px solid $text-color;
  text-shadow: $text-shadow-color;
  color: $text-color;
  cursor: pointer;
  &:hover {
    color: $yellow-color;
    border: 1px $yellow-color solid;
  }
}
.button-create {
  justify-self: right;
  margin-bottom: 3em;
  padding: 0.3em;
  font-family: 'Sarpanch';
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $text-color;
  text-shadow: $text-shadow-color;
  color: $text-color;
  cursor: pointer;
  &:hover {
    color: $yellow-color;
    border: 1px $yellow-color solid;
  }
}