@import '../../../scss/abstract/mixins';
@import '../../../scss/abstract/variables';


.create-event {
  width: 50rem;
  height: 50rem;
}
.myForm {
  @include flex-jc-ai-dir(center, center, column);
}

form #band-name,
#event-name,
#date,
#start-time,
#doors-open,
#pre-sale-price,
#door-price,
#ticket-url,
#genre,
#event-url,
#band-url {
  width: 24rem;
  height: 2.8rem;
  margin: 10px 4px;
  padding: 12px 10px;
  outline: none;
  background: $background-transparent;
  border: 1.8px $border-gray solid;
  color: $text-color;
}
form #description {
  width: 48.5rem;
  height: 5rem;
  margin-top: 10px;
  margin-left: 6px;
  padding-top: 10px;
  padding-left: 12px;
  outline: none;
  background: $background-transparent;
  border: 1.8px $border-gray solid;
  color: $text-color;
}
#band-name::placeholder,
#event-name::placeholder,
#door-price::placeholder,
#pre-sale-price::placeholder,
#ticket-url::placeholder,
#genre::placeholder,
#description::placeholder,
#event-url::placeholder,
#band-url::placeholder {
  font-size: 1rem;
  font-family: 'Sarpanch';
  text-shadow: $text-shadow-color;
  color: $text-color;
}
#date,
#doors-open,
#start-time {
  width: 24rem;
  height: 2.8rem;
}
#location {
  width: 24rem;
  height: 2.8rem;
  margin: 10px 4px;
  padding: 8px 10px;
  outline: none;
  border: 1.8px $border-gray solid;
  font-size: 1rem;
  font-family: 'Sarpanch';
  text-shadow: $text-shadow-color;
  color: $text-color;
  background: $background-transparent;
}
.upload-file label {
  @include flex-jc-ai-dir(center, center, column);
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 7rem;
  margin-bottom: 1rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
input#upload-image {
  margin-bottom: 0.5rem;
  font-family: 'Sarpanch';
  font-size: 1rem;
  width: 22rem;
  height: 2.8rem;
  text-shadow: $text-shadow-color;
  color: $text-color;
}
#upload-image::file-selector-button {
  width: 8rem;
  height: 2.5rem;
  font-family: 'Sarpanch';
  background-color: transparent;
  border: 1px $text-color solid;
  text-shadow: $text-shadow-color;
  color: $text-color;
  cursor: pointer;
  &:hover {
    color: $yellow-color;
    border: 1px $yellow-color solid;
  }
}

// @media screen and (min-width: 992px) {
//   .create-event {
//     height: 100rem;
//   }
//   .myForm {
//   @include flex-jc-ai-dir(column, center, column);
//  }
//  form #description {
//   width: 24rem;
//   height: 5rem;
//  }
// }