@import '../../../scss/abstract/mixins';

.navbar {
  @include flex-jc-ai-dir(space-between, center, row);
  margin-top: 4em;
  width: 69em;
  height: 3em;
  font-size: 1.5rem;
  text-shadow: 0 0 0.2em black, 0 0 1em black;

  .get-yourself {
    width: 16em;
    text-decoration: none;
    color: white;
  }
  .sign-up {
    text-decoration: none;
    color: white;
  }
  .login {
    text-decoration: none;
    color: white;
  }
}