@import '../../../scss/abstract/mixins';

.navbar {
  margin-bottom: 80px; // Spacing between the navbar and the other components on the different pages
}
.login-page {
  width: 55vw;
  height: 65vh;
  //background: rgba(0, 0, 0, 0.315);
  margin: 0;
  text-align: center;
  position: relative;
  form {
    @include flex-jc-ai-dir(column, center, column);
    height: 100%;
  }
  form #email-log,
  #password-log {
    padding: 12px 10px;
    color: white;
  }
  #email-log,
  #password-log {
    width: 12rem;
    height: 1.8rem;
    outline: none;
    background: rgba(0, 0, 0, 0.315);
    border: 1.8px gray solid;
  }
  #email-log::placeholder,
  #password-log::placeholder {
    font-size: 14px;
    font-family: 'Sarpanch';
    text-shadow: 0 0 0.2em black, 0 0 1em black;
    color: white;
  }
  .not-registered, .forgot-password {
    @include flex-jc-ai-dir(column, center, column);
    margin-top: 1rem;
    font-size: 16px;
    width: 10vw;
    height: 2vh;
    color: black;
    text-decoration: none;
  }
  .button-log {
    margin-top: 1rem;
    padding: 0.3em;
    font-family: 'Sarpanch';
    background-color: transparent;
    // box-shadow: 0.01em 0.01em 1em yellow;
    border-radius: 2px;
    border: 1px solid black;
    cursor: pointer;
    &:hover {
      color: rgba(255, 255, 0, 0.789);
      border: 1px rgba(255, 255, 0, 0.789) solid;
    }
  }
}
