.login-page form {
 width: 100%;
 height: 2vh;
 margin-top: 0.2rem;
 display: flex;
 align-items: center;
 flex-direction: column;
 font-size: 16px;
 #email-log, #password-log {
  font-family: 'Sarpanch';
  margin: 0.5rem;
  padding: 0.5em;
  border-radius: 2px;
 }
 .not-registered {
  width: 10vw;
  height: 2vh;
  color: black;
  text-decoration: none;
  &:hover {
    color:darkorange;
  }
}
 .button-log {
  margin-top: 0.5rem;
  padding: 0.3em;
  font-family: 'Sarpanch';
  background:  linear-gradient(0deg, rgba(247,0,0,1) 0%, rgba(247,93,0,1) 30%, rgba(245,237,23,1) 100%);
  border-radius: 2px;
 }
}