@import '../../../scss/abstract/mixins';
@import '../../../scss/abstract/variables';

.login-page {
  width: 45rem;
  height: fit-content;
  .login-form {
    @include flex-jc-ai-dir(column, center, column);
  }
  form #email-log,
  #password-log {
    margin: 10px 0;
    padding: 12px 10px;
    color: $text-color;
  }
  #email-log,
  #password-log {
    width: 22rem;
    height: 2.8rem;
    outline: none;
    background: $background-transparent;
    border: 1.8px $border-gray solid;
  }
  #email-log::placeholder,
  #password-log::placeholder,
  input#email-log,
  input#password-log {
    font-size: 1rem;
    font-family: 'Sarpanch';
    text-shadow: $text-shadow-color;
    color: $text-color;
  }
  #email-log:focus,
  #password-log:focus {
    color: $yellow-color;
    border: 0.5px $yellow-color solid;
    font-family: 'Sarpanch';
  }
  .not-registered,
  .forgot-password {
    @include flex-jc-ai-dir(column, center, column);
    margin-top: 1rem;
    margin-right: 0.8rem;
    font-size: 1.2rem;
    width: 18rem;
    height: 1rem;
    color: $text-color;
    text-shadow: $text-shadow-color;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .login-page {
    @include flex-jc-ai-dir(column, center, column);
    height: 70rem;
  }
}

@media screen and (min-width: 1024px) {
  .login-page {
    @include flex-jc-ai-dir(column, center, column);
    height: 70rem;
  }
}