.banner-animated {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  // height: 4.4rem;
  height: 4.4rem;
  background-color: yellow;
  // background-color: #bfc0bb;
  padding-left: 100%;
  box-sizing: content-box;

  span {
  display: inline-block;
  padding: 0 0.2rem;
  font-size: 2rem;
  color: black;
  font-family: 'Sarpanch';
  height: 3rem;
  line-height: 3.8rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  will-change: transform;
  animation: banner 80s linear infinite;

  @keyframes banner {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-70%, 0);
    }
  }
 }
}