// mixins & variables
@import '../../../scss/abstract/_mixins.scss';
@import '../../../scss/abstract/variables';

.calendar-block {
  @include flex-jc-ai-dir(center, center, column);
  box-shadow: 0 0 0.1em black, 0 0 0.9em yellow, 0.01em 0.01em 1.2em yellow;
  padding-bottom: 1em;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 0.3rem yellowgreen, 0 0 0.35rem orange, 0 0 0.6em yellow;
  background: url('../../../assets/images/IMG_01.jpg') no-repeat center
    center/cover;
  border: 0.2em solid rgba(0, 0, 0, 0.315);
  cursor: pointer;

  .calendar-month {
    @include flex-jc-ai-dir(space-between, center, row);
    margin: 0.6em 0;
    width: 15em;
    font-size: 2.45rem;
    text-shadow: 0 0 0.2rem black, 0 0 0.35rem yellowgreen, 0 0 0.3rem orange,
      0 0 0.6rem yellow;
    // color: $text-color;
    // text-shadow: $text-shadow-color;
    .arrows {
      color: white;
      font-size: 3rem;
      filter: drop-shadow(6px 3px 5px rgba(255, 255, 0, 8));
      margin-top: 1.1rem;
      cursor: pointer;
    }
  }

  .seven-day-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: auto;
    // gap: 1em;
    align-content: center;
    text-align: center;
  }

  .calendar-days {
    width: inherit;
    height: inherit;
    padding: 0 1.2em;

    .weekdays {
      margin-bottom: -0.5em;
      text-shadow: 0 0 0.3rem black, 0 0 0.35rem yellowgreen, 0 0 0.3rem orange,
        0 0 0.6rem yellow;
      // color: $text-color;
      // text-shadow: $text-shadow-color;
    }

    .date-cell {
      @include flex-jc-ai-dir(center, center, row);
      height: 3em;
      // transition: ease-in-out 0.125s;
      &:hover {
        transition: ease-in-out 0.125s;
        background-color: rgba(0, 0, 0, 0.315);
        // box-shadow: 0 0 0.1em black, 0 0 0.6em yellow;
      }
    }
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 3em;
    width: 27.75em;
    height: fit-content;
  }
}

.calendar-bar {
  @include flex-jc-ai-dir(center, center, column);
  margin-bottom: 1em;
  width: inherit;
  height: 4em;
  background: rgba(0, 0, 0, 0.315);
  color: $text-color;
  text-shadow: $text-shadow-color;

  .calendar-month {
    @include flex-jc-ai-dir(space-between, center, row);
    width: 12em;
    height: 1.4em;

    .arrows {
      font-size: 1.7rem;
      filter: drop-shadow(6px 3px 5px rgba(255, 255, 0, 8));
      margin-top: 0.6rem;
      cursor: pointer;
    }
  }

  .calendar-days {
    @include flex-jc-ai-dir(space-evenly, center, row);
    width: inherit;
    height: 1.7em;
    padding-top: 0.2em;

    .date-cell {
      &:hover {
        font-size: 3rem;
      }
    }


    .highlight-date-clicked {
      text-shadow: 0 0 0.2rem black, 0 0 0.35rem yellowgreen, 0 0 0.3rem orange,
        0 0 0.6rem yellow;
    }
  }
}
