@import '../../../scss/abstract/_mixins.scss';

.calendar {
  @include flex-jc-ai-dir(center, center, column);
  margin-top: -0.8em;
  // box-shadow: 0 0 0.5em red, 0 0 1.2em yellow, 0.01em 0.01em 1em fuchsia;
  box-shadow: 0 0 0.1em yellowgreen, 0 0 0.9em yellow,
    0.01em 0.01em 1.2em yellow;
  font-size: 2.5rem;
  color: white;
  // text-shadow: 0px 0px 4px red, 0px 0px 4px fuchsia,
  //   0px 0px 10px yellow;
  text-shadow: 0 0 0.3rem yellowgreen, 0 0 0.35rem orange, 0 0 0.6em yellow;
  background: url('../../../assets/images/IMG_01.jpg') no-repeat center
    center/cover;
  // background-size: cover;

  .calendar-month {
    @include flex-jc-ai-dir(space-between, center, row);
    margin: 1.5em 0;
    width: 15em;
    font-size: 2.45rem;
    text-shadow: 0 0 0.2rem black, 0 0 0.35rem yellowgreen, 0 0 0.3rem orange,
      0 0 0.6rem yellow;
    .arrows {
      color: white;
      font-size: 3rem;
      filter: drop-shadow(6px 3px 5px rgba(255, 255, 0, 8));
      margin-top: 1.1rem;
  
    }
  }

  .seven-day-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: auto;
    align-content: center;
    text-align: center;
  }

  .calendar-days {
    width: inherit;
    height: inherit;
    padding: 0 1.2em;

    .weekdays {
      text-shadow: 0 0 0.2rem black, 0 0 0.35rem yellowgreen, 0 0 0.3rem orange,
        0 0 0.6rem yellow;
    }

    .date-cell {
      @include flex-jc-ai-dir(center, center, row);
      height: 3.5em;
    }
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 3em;
    width: 27.5em;
    height: fit-content;
  }
}
