.event-data-container {
  @include flex-jc-ai-dir(space-between, center, row);
  background-color: $background-transparent;
  margin: 0 auto;
  width: 80%;
  height: 30rem;
  padding: 2em;
  border: 1px red solid;

  .event-info-wrapper {
    width: 50%;
    height: 100%;
    border: 1px red solid;

    .event-date-price-wrapper {
      @include flex-jc-ai-dir(space-between, center, row);
      width: 45%;
      border: 1px red solid;

      .event-date {
        width: 10em;
      }

      .event-price {
        @include flex-jc-ai-dir(center, center, row);
        width: 5em;
      }
    }

    .band-event-name-wrapper {
      width: 100%;
      padding: 0.5em 0;

      .band-name {
        font-size: 2rem;
      }

      .event-name {
        font-size: 1.5rem;
      }
    }

    .event-location-time-wrapper {
      @include flex-jc-ai-dir(flex-start, center, row);
      height: 2em;
      width: 30rem;
      font-size: 0.8em;

      .event-location {
        @include flex-jc-ai-dir(flex-start, center, row);
        width: 11em;
        height: 100%;
      }

      .event-time {
        @include flex-jc-ai-dir(flex-start, center, row);
        height: 100%;
        margin-left: 1em;
      }
    }

    .event-description {
      width: 100%;
      border: 1px red solid;

      p {
        font-family: 'Roboto';
        font-size: 0.95rem;
      }
    }

    .saveDate-buyTicket-container {
      @include flex-jc-ai-dir(flex-start, center, row);

      .save-date-btn {
        width: 9rem;
        padding: 0.8em 0;
        cursor: pointer;
      }

      .buy-ticket-btn {
        width: 9rem;
        padding: 0.8em 0;
        cursor: pointer;
        margin-left: 0.5em;
      }
    }
  }

  .event-img-wrapper {
    @include flex-jc-ai-dir(center, center, row);
    width: 40%;
    height: 100%;
    overflow: hidden;
    border: 1px red solid;

    img {
      object-fit: contain;
      width: 100%;
    }
  }
}
