// mixins & variables
@import './../../../scss/abstract/mixins';
@import '../../../scss/abstract/variables';

.event-data-container {
  @include flex-jc-ai-dir(space-between, center, row);
  margin: 0 auto;
  width: 80%;
  height: 30rem;
  background-color: $background-transparent;
  padding: 2em;
  color: $text-color;
  text-shadow: $text-shadow-color;

  .event-info-wrapper {
    @include flex-jc-ai-dir(space-between, flex-start, column);
    overflow: visible;
    width: 50%;
    height: 100%;
    padding-left: 0.24em;

    .event-date-price-wrapper {
      @include flex-jc-ai-dir(space-between, center, row);
      width: 45%;
      font-size: 1.5rem;

      .event-date {
        width: 10em;
      }

      .event-price {
        @include flex-jc-ai-dir(center, center, row);
        width: 5em;
      }
    }

    .band-event-name-wrapper {
      margin-left: -0.24em;
      
      .band-name {
        font-size: 3.7rem;
        color: $title-color;
        text-shadow: $title-text-shadow;
      }

      .event-name {
        padding-left: $title-padding;
        font-size: 1.5rem;
        color: $basic-yellow;
        text-shadow: none;        
      }
    }

    .event-location-time-wrapper {
      @include flex-jc-ai-dir(flex-start, center, row);
      height: 2em;
      width: fit-content;
      font-size: 1.23rem;

      .event-location {
        @include flex-jc-ai-dir(flex-start, center, row);
        width: 11em;
        height: 100%;
      }

      .event-time {
        @include flex-jc-ai-dir(flex-start, center, row);
        height: 100%;
        margin-left: 1em;
      }
    }

    .event-description {
      width: 100%;

      p {
        font-family: 'Roboto';
        font-size: 1.1rem;
      }
    }

    .button-wrapper {
      @include flex-jc-ai-dir(space-between, center, row);
      width: 44%;

      .save-date-btn {
        width: 9rem;
        padding: 0.8em 0;
        cursor: pointer;
      }

      .buy-ticket-btn {
        width: 9rem;
        padding: 0.8em 0;
        cursor: pointer;
      }
    }
  }

  .event-img-wrapper {
    @include flex-jc-ai-dir(center, center, row);
    width: 40%;
    height: 100%;
    overflow: hidden;
    border: 1px red solid;

    img {
      object-fit: contain;
      width: 100%;
    }
  }
}
